<div class="footerDiv">
  <div class="topFooter">
  </div>
  <div class="columnContainer">
    <div class="column">
      <ul>
        <li>content</li>
        <li>content</li>
        <li>content</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
        <li>content</li>
      </ul>
    </div>
  </div>
  <div class="help">
    <p></p>
    <p></p>
  </div>
  <div class="bottom">
    <div class="leftBottom">
      <h1>Etsy</h1>
    </div>
    <div class="rightBottom">
      <p></p>
      <p></p>
      <p></p>content  
    </div>
  </div>
</div>
