h1 {
  width: 40%;
  text: wrap;
  text-align: center;
  margin: auto;
}

app-picture-sec {
  display: flex;
  flex-direction: row;
  height: 25vh;
  justify-content: space-around;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p {
  width: 20%;

}
